<div id="tax_status" class="ui-corner-all listing_div">
  <h2 class="ui-widget-header ui-corner-top">Create New Tax Status</h2>
  <div class="ui-widget-content ui-corner-bottom">
    <%= render :partial => "tax_statuses/edit_tax_status", :locals => { :tax_status_type => "new" } %>
  </div>
</div> <!-- div#tax_status -->