<% provide(:title, "Edit User") %>
<% provide(:button_text, "Update User") %>

<div class="ui-corner-all sign_in">
  <h2 class="ui-widget-header ui-corner-top">Create a new MISI user</h2>
  <div class="ui-widget-content ui-corner-bottom">
    <%= render 'form' %>
  </div>
</div>