<div id="assured" class="ui-corner-all listing_div">
  <h2 class="ui-widget-header ui-corner-top"><%= @assured.title %></h2>
  <div class="ui-widget-content ui-corner-bottom">
    <%= render :partial => "assureds/edit_assured", :locals => { :assured_type => "edit" } %>
  </div>
<<<<<<< HEAD
</div> <!-- div#assured -->
=======
</div> <!-- div#assured -->
>>>>>>> 528a84ac36f9ee8ae5ac92ad60e3b15c99db9827
