<<<<<<< HEAD
<% provide(:title, "Welcome") %>

<div class="ui-corner-all standard_content">
  <h2 class="ui-widget-header ui-corner-top">Welcome to MISI</h2>
  <div class="ui-widget-content ui-corner-bottom">
    <p>This is the home of the web application for Maintenance Information Services, Inc. You can login to the left, and you will then be able to access our systems.</p>
=======
<div class="ui-corner-all standard_content">
  <h2 class="ui-widget-header ui-corner-top">Welcome to MISI</h2>
  <div class="ui-widget-content ui-corner-bottom">
    <p><%= @welcome_text.html_safe %></p>
>>>>>>> 528a84ac36f9ee8ae5ac92ad60e3b15c99db9827
  </div>
</div>