<% provide(:title, "Welcome") %>

<div class="ui-corner-all standard_content">
  <h2 class="ui-widget-header ui-corner-top">Welcome to MISI</h2>
  <div class="ui-widget-content ui-corner-bottom">
    <p>This is the home of the web application for Maintenance Information Services, Inc. You can access our system through the navigation menu to the left. If you have questions, don't hesistate to call or email us.</p>
  </div>
</div>