<div id="collection_district" class="ui-corner-all listing_div">
  <h2 class="ui-widget-header ui-corner-top">Create New collection_district</h2>
  <div class="ui-widget-content ui-corner-bottom">
    <%= render :partial => "collection_districts/edit_collection_district", :locals => { :collection_district_type => "new" } %>
  </div>
</div> <!-- div#collection_district -->