<div id="collection_district_type" class="ui-corner-all listing_div">
  <h2 class="ui-widget-header ui-corner-top"><%= @collection_district.name %></h2>
  <div class="ui-widget-content ui-corner-bottom">
    <%= render :partial => "collection_districts/edit_collection_district", :locals => { :collection_district_type => "edit" } %>
  </div>
</div> <!-- div#collection_district -->