<div id="tax_certificate" class="ui-corner-all">
  <h2 class="ui-widget-header ui-corner-top">Create New Tax Certificate</h2>
  <div class="ui-widget-content ui-corner-bottom">
    <%= render :partial => "tax_certificates/edit_tax_certificate", :locals => { :tax_certificate_type => "new" } %>
  </div>
</div> <!-- div#tax_certificate -->