<div id="maintenance_order" class="ui-corner-all listing_div">
  <h2 class="ui-widget-header ui-corner-top">Maintenance Order <%= @maintenance_order.id %> (<%= @maintenance_order.report_date.strftime("%m/%d/%Y") %>)</h2>
  <div class="ui-widget-content ui-corner-bottom">
<<<<<<< HEAD
     <%= render :partial => "maintenance_orders/edit_maintenance_order", :locals => { :maintenance_order_type => "edit" } %>
=======
    <%= render :partial => "maintenance_orders/edit_maintenance_order", :locals => { :maintenance_order_type => "edit" } %>
>>>>>>> 528a84ac36f9ee8ae5ac92ad60e3b15c99db9827
  </div>
</div> <!-- div#maintenance_order -->