  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        Copyright 2018 | <strong>MISI</strong>
      </p>
    </div>
  </footer>

  <div id="information-dialog" title="MISI Notification">
    <p id="information_message"></p>
  </div>
  
  <div id="error-dialog" title="MISI Error">
    <p id="error_message"></p>
  </div>