  <header>
    <div id="header_logo">
      <a href="/"><%= image_tag 'misi_logo.png' %></a>
    </div>
    <div id="header_name">
      <a href="/"><%= image_tag 'misi_title.png' %></a>
    </div>
    <div id="header_contact">
      <p>
        <% if @printing %>
        MISI - Maintenance Information Services, Inc.
        <% end %>
        9301 Southwest Freeway<br />
        Suite 455<br />
        Houston, Texas&nbsp;&nbsp;77074<br />
        Phone: (713) 270-5660<br />
        Fax: (713) 270-7133<br />
      </p>
    </div>
  </header>